{% extends "base.html" %}

{% block head %}
<h1>Campaign Management System</h1>
        <nav>
            <a href="{% url 'shipment_calendar' %}">Shipment Calendar</a>
        </nav>
{% endblock %}

{% block content %}
<h1>{{ object.name }}</h1>
<p>airport: {{ object.airport }}</p>
<p>Arrival Date: {{ object.date_of_arrival }}</p>
<p>Origin: {{ object.country_of_origin }}</p>
<p>Status: {{ object.status }}</p>

<h2>Products in Shipment</h2>
<ul>
  {% for product in products %}
    <li>
      {{ product.name }} ({{ product.size }}) - {{ product.quantity }}
    </li>
  {% endfor %}
</ul>
{% endblock %}
