{% extends 'unfold/layouts/base_simple.html' %}

{% load i18n unfold %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% trans 'Dashboard' %} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header }}
        </a>
    </h1>
{% endblock %}

{% block content %}

{% component "unfold/components/flex.html" with class="gap-8 mb-8 flex-col lg:flex-row" %}
    {% trans "Shipment Calendar" as title %}
    {% component "unfold/components/card.html" with class="lg:w-1/2" title=title %}
    <div id="ship_calendar"></div>
    {% endcomponent %}
    {% trans "Shipment Calendar" as title %}
    {% component "unfold/components/card.html" with class="lg:w-1/2" title=title %}
    <div id="camp_calendar"></div>
    {% endcomponent %}
{% endcomponent %}



<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>



<script>

    document.addEventListener('DOMContentLoaded', function() {
      var ship_calendarEl = document.getElementById('ship_calendar');
  
      var ship_calendar = new FullCalendar.Calendar(ship_calendarEl, {
        initialView: 'dayGridMonth',
        initialDate: '2024-10-07',
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        events: [
        {% for shipment in shipments %}
            {
            title: "{{ shipment.name }}",
            start: "{{ shipment.date_of_arrival|date:'Y-m-d' }}",
            end: "{{ shipment.date_of_arrival|date:'Y-m-d' }}",
            url: "{% url 'shipment_detail' shipment.pk %}",
            
            {% if  shipment.status == 'pending' %}
            color: 'yellow', 
            textColor: 'black'
            {% endif %}
            
            }{% if not forloop.last %},{% endif %}
        {% endfor %}
        ]
      });
  
      ship_calendar.render();

      var camp_calendarEl = document.getElementById('camp_calendar');
    
        var camp_calendar = new FullCalendar.Calendar(camp_calendarEl, {
          initialView: 'dayGridMonth',
          initialDate: '2024-10-07',
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          events: [
          {% for campaign in campaigns %}
              {
              title: "{{ campaign.name }}",
              start: "{{ campaign.start_date|date:'Y-m-d' }}",
              end: "{{ campaign.end_date|date:'Y-m-d' }}",
              url: "{% url 'campaign_detail' campaign.pk %}",
              }{% if not forloop.last %},{% endif %}
          {% endfor %}
          ]
        });
    
        camp_calendar.render();
    });

</script>
{% endblock %}